/.idea/
/chemmanager/migrations/
/blog/migrations/
/users/migrations/
/db.sqlite3
/media/

!*/chemmanager/migrations/__init__.py
!*/blog/migrations/__init__.py
!*/users/migrations/__init__.py
!*/media/chemical_pics/default.png
!*/media/profile_pics/default.png

