{% extends "blog/blog_base.html" %}
{% block content %}


    <div class="card">
        <div class="card card-header h1">About ChemData</div>
        <div class="card-body">
            Visit us on <a href="https://github.com/PythonFZ/ChemData">GitHub</a>
            <hr>
            The use of ChemData lies in the organization of chemical groups and the exchange of information.
            Feel free to support us by requesting or adding new features.
            <br>
            The Current Version of ChemData is purely for development and may not be suitable for productive
            environments yet!
            <br>
            Version 0 (<b>2020</b>)
            <div class="text-muted">
                Entwickelt von Fabian Zills, Erik Wimmer
            </div>
        </div>
    </div>

{% endblock content %}