{% extends "chemmanager/chemmanager_base.html" %}
{% load static %}
{#{% load crispy_forms_tags %}#}python

{% block search_bar %}
    <form id="chemical-search-form">
        <div class="row">
            <div class="col-sm-8">
                <div class="md-form input-group">
                    <input type="text" class="form-control" placeholder="Search Chemicals" aria-label="Search Chemicals"
                           aria-describedby="MaterialButton-addon2" name="q" value="{{ request.GET.q }}"
                           style="font-size: 150%" id="chemical-search-input" autocomplete="off" data-toggle="dropdown">

                    <div class="dropdown-menu" aria-labelledby="search-autocomplete-dropdown"
                         id="search-autocomplete-dropdown"></div>

                    <div class="input-group-append">
                        <button class="btn btn-lg btn-success m-0" type="submit" id="MaterialButton-addon2"
                                value="Search Chemicals" onclick="clear_local_storage()">Search
                        </button>
                        <button class="btn btn-btn-lg btn-success m-0 dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu">
                            <a href="{% url 'chemmanager-home' %}" class="dropdown-item"
                               onclick="clear_local_storage()">
                                <i class="fas fa-undo"></i>&nbsp;Reset</a>
                            <a href="{% url 'chemical-create' %}" class="dropdown-item" onclick="clear_local_storage()">
                                <i class="fas fa-plus"></i>&nbsp;Add Chemical</a>
                            <a href="{% url 'storage-list' %}" class="dropdown-item" onclick="clear_local_storage()">
                                <i class="fas fa-archive"></i>&nbsp;Manage Storage</a>
                            <a href="{% url 'chemical-table' %}" class="dropdown-item" onclick="clear_local_storage()">
                                <i class="fas fa-table"></i>&nbsp;View as table</a>
                            <a href="{% url 'chemicallist-upload' %}" class="dropdown-item" onclick="clear_local_storage()">
                                <i class="fas fa-upload"></i>&nbsp;Upload Chemical List</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                {{ parameter_form }}
                {{ parameter_form.media }}
            </div>
        </div>
    </form>

{% endblock %}
{% block content %}


    {% if not chemicals %}
        <div class="text-center">
            <i class="fa fa-flask fa-5x" style="color: rgba(0,0,0,0.4)"></i>
            <br>
            <h5>Wow, such empty!</h5>
            {% if request.GET.q %}
                <a href="{% url 'chemical-create-by-name' request.GET.q %}"
                   class="btn btn-info">Create {{ request.GET.q }}</a>
            {% endif %}
        </div>
    {% endif %}
    <div class="media mb-3">
        <div class="media-body">
            {% for chemical in chemicals %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item chemical-item" id="list-item-{{ chemical.id }}">
                        <div>
                            <div class="d-flex justify-content-between">
                                <div class="expand-chemical" id="{{ chemical.id }}">
                                    {% if request.user.profile.workgroup == chemical.workgroup %}
                                        {% if chemical.stock_set.count == 0 %}
                                            <h4 class="text-muted chemical-item-header"><i
                                                    class="fas fa-caret-right expand_caret"
                                                    id="caret-collapseAll-{{ chemical.id }}"></i> {{ chemical.name }}
                                            </h4>
                                        {% else %}
                                            <h4 class="chemical-item-header"><i class="fas fa-caret-right"
                                                                                id="caret-collapseAll-{{ chemical.id }}"></i> {{ chemical.name }}
                                            </h4>
                                        {% endif %}
                                    {% else %}
                                        {% if chemical.stock_set.count == 0 %}
                                            <h4 class="text-muted chemical-item-header"><i class="fas fa-caret-right"
                                                                                           id="caret-collapseAll-{{ chemical.id }}"></i> {{ chemical.name }}
                                                ({{ chemical.workgroup }})</h4>
                                        {% else %}
                                            <h4 class="chemical-item-header"><i class="fas fa-caret-right"
                                                                                id="caret-collapseAll-{{ chemical.id }}"></i> {{ chemical.name }}
                                                ({{ chemical.workgroup }})
                                            </h4>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="text-muted">
                                    {% for stock  in chemical.stock_set.all %}
                                        {% if stock.label %}
                                            <b>{{ stock.storage.full_abbr }}</b>{{ stock.label }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="collapseAll-{{ chemical.id }}">
                            <table class="table table-sm">
                                <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    {% if request.user_agent.is_pc %}
                                        <th>Distributor</th>
                                        <th>Location</th>
                                        <th>Label</th>
                                        <th>Last used</th>
                                    {% endif %}
                                </tr>
                                </thead>

                                {% for stock in chemical.stock_set.all %}
                                    {% if request.user.profile.workgroup in stock.storage.shared_workgroups.all or chemical.workgroup == request.user.profile.workgroup %}
                                        <tr>
                                            <th>
                                                <a href="{% url 'stock-update' stock.id %}"
                                                   class="btn btn-sm btn-outline-primary w-100">EDIT</a>
                                            </th>
                                            <th>
                                                <a href="{% url 'extraction-create' stock.id %}"
                                                   class="btn btn-outline-info btn-sm w-100"
                                                   data-toggle="tooltip" data-html="true"
                                                   title="Last Used {{ stock.extraction_set.first.date_created }}"
                                                >{{ stock.left_quantity }} {{ stock.unit }}</a>
                                            </th>
                                            {% if request.user_agent.is_pc %}
                                                {% if stock.distributor %}
                                                    <th> {{ stock.distributor }}</th>
                                                {% else %}
                                                    <th class="text-center">-</th>
                                                {% endif %}
                                                {% if stock.storage %}
                                                    <th>{{ stock.storage.location_name }}</th>
                                                {% else %}
                                                    <th class="text-center">-</th>
                                                {% endif %}
                                                {% if stock.label %}
                                                    <th>{{ stock.label }}</th>
                                                {% else %}
                                                    <th class="text-center">-</th>
                                                {% endif %}
                                                <th>{{ stock.extraction_set.first.date_created|date:"d.m.Y" }}</th>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                <form action="{% url 'stock-create' chemical.id %}">
                                    {% if request.user.profile.workgroup == chemical.workgroup %}
                                        <tr>
                                            <th>
                                                <button name="chemical" type="submit" value="{{ chemical.id }}"
                                                        class="btn btn-primary btn-sm w-100"
                                                        style="position: relative; right: 6px"><i
                                                        class="fa fa-plus-circle"></i> Add
                                                </button>
                                            </th>
                                            <th></th>
                                            {% if not request.user_agent.is_mobile %}
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                </form>
                            </table>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>

    <!-- Pagination -->
    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-circle pg-blue">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" href="?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link">First</a></li>
                    <li class="page-item">
                        <a class="page-link disabled" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" href="?page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">Last</a></li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock content %}

{% block properties %}
    <div id="chemical_detail_div"></div>
{% endblock properties %}


{% block custom_js %}

    <!-- Select2 -->
    {#    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />#}
    {#    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>#}

    <script>
        $('.expand-chemical').click(function () {
            {#var url = "{% url 'chemical-detail' 1234 %}".replace(/1234/, this.id.toString());#}
            {#$('#chemical_detail_div').load(url);#}
        });
    </script>
    <script>
        $(document).ready(function () {

            $(document).on("click", ".search-suggestion", function () {
                $('#chemical-search-input').val(this.text);
                $('#chemical-search-form').submit();
                console.log(this);
            });

            $('.chemical-search-parameter').select2({
                placeholder: 'Choose additional Search-Parameter',
                allowClear: true
            });

            $('[data-toggle="tooltip"]').tooltip();

            $("#chemical-search-input").keyup(function () {
                var search = $(this).val();
                if (search !== "") {
                    $.ajax({
                        url: "{% url 'chemmanager-home' %}",
                        type: 'GET',
                        data: {q: search},
                        dataType: 'json',
                        success: function (response) {
                            $("#search-autocomplete-dropdown").empty();
                            response['names'].forEach(function (item, index) {
                                {#console.log(item, index);#}
                                $("#search-autocomplete-dropdown").append("<a class='dropdown-item search-suggestion' href='#'>" + item + "</a>");
                                {#$("#search-autocomplete-dropdown").show();#}
                            })
                        }
                    })
                } else {
                    $("#search-autocomplete-dropdown").empty();
                }
            });

            var collapse_elements = $('.collapse');
            collapse_elements.each(function () {
                // Default close unless saved as open
                if (localStorage.getItem('open_' + this.id) === 'open') {
                    $(this).collapse('show');
                }
                <!-- Show everything, if only one chemical is visible -->
                if (collapse_elements.length === 2 && this.id !== 'navbarToggle') {
                    $(this).collapse('show');
                }
            });
        });
    </script>


    <script>
        function clear_local_storage() {
            var open_elements = [];
            for (var i = 0; i < localStorage.length; i++) {
                if (localStorage.key(i).substring(0, 17) === 'open_collapseAll-') {
                    open_elements.push(localStorage.key(i));
                }
            }
            for (var i = 0; i < open_elements.length; i++) {
                localStorage.removeItem(open_elements[i]);
            }
        }

        {##}
        $('.collapse').on('show.bs.collapse', function () {
            $('#caret-' + this.id).css('transform', 'rotate(' + '90deg)');
            var id = $(this).attr("id").split("collapseAll-")[1];
            var url = "{% url 'chemical-detail' 1234 %}".replace(/1234/, id.toString())
            $('#chemical_detail_div').load(url, function () {
                MathJax.typeset()
            });
        });
        $('.collapse').on('hide.bs.collapse', function () {
            $('#caret-' + this.id).css('transform', 'rotate(' + '0deg)');
            var id = $(this).attr("id").split("collapseAll-")[1];
            $('#chemical_detail_div').html('');
        });

        $(function () {
            $('.chemical-item').css('cursor', 'pointer')

                .click(function () {
                    var id = $(this).attr("id").split("list-item-")[1];
                    $('#collapseAll-' + id).collapse('toggle');

                    if (localStorage.getItem('open_' + 'collapseAll-' + id) !== 'open') {
                        {#clear_local_storage();#}
                        localStorage.setItem('open_' + 'collapseAll-' + id, 'open');
                    } else {
                        localStorage.removeItem('open_' + 'collapseAll-' + id);
                    }
                });
        })
        ;

    </script>
{% endblock %}

{% block custom_head %}
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}"/>
    <style>
        .btn-group-lg .btn, .btn-group-sm .btn {
            border-radius: 2px;
        }

        .chemical-item {
            font-size: 100%;
            font-weight: bolder;
            padding-bottom: 0;
        }

        .chemical-item:hover {
            background-color: rgba(0, 0, 0, 0.01);
        }

        .chemical-item-header {
            font-size: 120%;
            font-weight: bolder;
        }
    </style>
{% endblock %}