{% extends "blog/base.html" %}
{% block base_content %}
<main role="main" class="container">
    {% block search_bar %}{% endblock %}
    <div class="row">
        <div class="col-sm-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.level_tag }}">
                        {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-sm-4">
            {% block properties %}{% endblock %}
        </div>
    </div>
</main>
{% endblock base_content %}