{% extends "chemmanager/chemmanager_base.html" %}
{#{% load crispy_forms_tags %}#}

{% block content %}
    <form class="card card-sm mb-2">
        <div class="card-body row no-gutters align-items-center">
            <!--end of col-->
            <div class="col">
                <input class="form-control form-control-lg form-control-borderless" type="text"
                       placeholder="Search topics or keywords" name="q" value="{{ request.Get.q }}">
            </div>
            <!--end of col-->
            <div class="col-auto">&nbsp;</div>
            <div class="col-auto">
                <button class="btn btn-lg btn-success" type="submit" value="Search Chemicals">Search</button>
            </div>
            <!--end of col-->
        </div>
    </form>

    {% for chemical in chemicals %}
        <article class="media content-section mb-1">
            <div class="media-body">
                <a data-toggle="collapse"
                   data-target="#collapseAll-{{ chemical.id }}"
                   aria-controls="collapseAll-{{ chemical.id }}">
                    <div class="d-flex w-100 bd-highlight">
                        {% if request.user.profile.workgroup == chemical.workgroup %}
                            <h4>{{ chemical.name }}</h4>
                        {% else %}
                            <h4>{{ chemical.name }} ({{ chemical.creator.groups.first }})</h4>
                        {% endif %}
                    </div>
                </a>
                <div class="collapse" id="collapseAll-{{ chemical.id }}">
                    <form class="mb-1" action="{% url 'stock-create' chemical.id %}">
                        {% if request.user_agent.is_mobile %}
                            <div class="d-flex justify-content-between w-100">
                        {% endif %}
                        <button class="btn btn-info btn-sm" type="button" data-toggle="collapse"
                                data-target="#collapseStock-{{ chemical.id }}" aria-expanded="true"
                                aria-controls="collapseStock-{{ chemical.id }}">Stock
                        </button>
                        <button class="btn btn-info btn-sm" type="button" data-toggle="collapse"
                                data-target="#collapseProperties-{{ chemical.id }}" aria-expanded="false"
                                aria-controls="collapseProperties-{{ chemical.id }}">Properties
                        </button>
                        <button class="btn btn-warning btn-sm" name="chemical" type="submit"
                                value="{{ chemical.id }}">Add Stock
                        </button>
                        <a class="btn btn-warning btn-sm" href="{% url 'chemical-update' chemical.id %}">Edit</a>
                        {% if request.user_agent.is_mobile %}
                            </div>
                        {% endif %}
                    </form>

                    <div class="collapse" id="collapseProperties-{{ chemical.id }}">
                        <dl class="row">
                            {% if chemical.molar_mass %}
                                <dt class="col-sm-3">Molare Mass</dt>
                                <dd class="col-sm-9"> {{ chemical.molar_mass }} g/mol</dd>
                            {% endif %}
                            {% if chemical.melting_point %}
                                <dt class="col-sm-3">Melting Point</dt>
                                <dd class="col-sm-9">{{ chemical.melting_point }} °C</dd>
                            {% endif %}
                            {% if chemical.boiling_point %}
                                <dt class="col-sm-3">Boiling Point</dt>
                                <dd class="col-sm-9">{{ chemical.boiling_point }} °C</dd>
                            {% endif %}
                            {% if chemical.density %}
                                <dt class="col-sm-3">Density</dt>
                                <dd class="col-sm-9">{{ chemical.density }} g/L</dd>
                            {% endif %}
                        </dl>
                    </div>
                    <div class="collapse show" id="collapseStock-{{ chemical.id }}">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Quantity</th>
                                {% if request.user_agent.is_pc %}
                                    <th>Location</th>
                                    <th>Last used</th>
                                {% endif %}
                            </tr>
                            </thead>

                            {% for stock in chemical.stock_set.all %}
                                {% if request.user.profile.workgroup in stock.storage.workgroup.all or chemical.workgroup == request.user.profile.workgroup %}
                                    <tr>
                                        <th>
                                            <a href="{% url 'stock-update' stock.id %}"
                                               class="btn btn-sm btn-outline-primary w-100">{{ stock.name }}</a>
                                        </th>
                                        <th>
                                            <a href="{% url 'extraction-create' stock.id %}"
                                               class="btn btn-outline-info btn-sm w-100"
                                               data-toggle="tooltip" data-html="true"
                                               title="Last Used {{ stock.extraction_set.last.date_created|date:"D d. F Y" }}"
                                            >{{ stock.left_quantity }} {{ stock.unit }}</a>
                                        </th>
                                        {% if request.user_agent.is_pc %}
                                            {% if stock.storage %}
                                                <th>{{ stock.storage }}</th>
                                            {% else %}
                                                <th>-</th>
                                            {% endif %}
                                            <th>{{ stock.extraction_set.last.date_created|date:"d.m.Y" }}</th>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}

    <!-- Pagination -->
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}


        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}

{% endblock content %}

{% block properties %}
    <div class="content-section">
        <a href="{% url 'chemical-create' %}" class="btn btn-info">Add Chemical</a>
    </div>
    <a class="article-title" href="#" data-toggle="tooltip" data-html="true" title="<img src='/media/default.jpg'>">IMG-Tooltip</a>
{% endblock properties %}





{% block custom_js %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}