{% extends "chemmanager/chemmanager_base.html" %}
{#{% load crispy_forms_tags %}#}

{% block content %}
    <form class="media mb-2">
        <div class="media-body row no-gutters align-items-center">
            <!--end of col-->
            <div class="col">
                <input class="form-control form-control-lg form-control-borderless" type="text"
                       placeholder="Search topics or keywords" name="q" value="{{ request.Get.q }}">
            </div>
            <!--end of col-->
            <div class="col-auto">&nbsp;</div>
            <div class="col-auto">
                <button class="btn btn-lg btn-success" type="submit" value="Search Chemicals">Search</button>
            </div>
            <!--end of col-->
        </div>
    </form>

    {% for chemical in chemicals %}
        <article class="media content-section mb-1">
            <div class="media-body">
                <div class="d-flex justify-content-between">
                    <div class="p-2">
                        <a href="{% url 'chemical-list' chemical.id %}?{{ request.GET.urlencode }}"
                           class="expand-chemical w-100" id="{{ chemical.id }}">
                            {% if request.user.profile.workgroup == chemical.workgroup %}
                                <h4>{{ chemical.name }}</h4>
                            {% else %}
                                <h4>{{ chemical.name }} ({{ chemical.workgroup }})</h4>
                            {% endif %}
                        </a>
                    </div>
                    <div>
                        <form class="mb-1" action="{% url 'stock-create' chemical.id %}">
                            <div class="btn-group-sm">
                                <button class="btn btn-info" name="chemical" type="submit" value="{{ chemical.id }}"><i
                                        class="fa fa-plus-circle"></i> Add
                                </button>
                                <a href="{% url 'chemical-update' chemical.id %}" class="btn btn-info"><i
                                        class="fa fa-edit"></i> Edit</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="collapse" id="collapseAll-{{ chemical.id }}">

                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            {% if request.user_agent.is_pc %}
                                <th>Location</th>
                                <th>Last used</th>
                            {% endif %}
                        </tr>
                        </thead>

                        {% for stock in chemical.stock_set.all %}
                            {% if request.user.profile.workgroup in stock.storage.workgroup.all or chemical.workgroup == request.user.profile.workgroup %}
                                <tr>
                                    <th>
                                        <a href="{% url 'stock-update' stock.id %}"
                                           class="btn btn-sm btn-outline-primary w-100">{{ stock.name }}</a>
                                    </th>
                                    <th>
                                        <a href="{% url 'extraction-create' stock.id %}"
                                           class="btn btn-outline-info btn-sm w-100"
                                           data-toggle="tooltip" data-html="true"
                                           title="Last Used {{ stock.extraction_set.first.date_created}}"
                                        >{{ stock.left_quantity }} {{ stock.unit }}</a>
                                    </th>
                                    {% if request.user_agent.is_pc %}
                                        {% if stock.storage %}
                                            <th>{{ stock.storage.location_name }}</th>
                                        {% else %}
                                            <th>-</th>
                                        {% endif %}
                                        <th>{{ stock.extraction_set.first.date_created|date:"d.m.Y" }}</th>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </article>
    {% endfor %}

    <!-- Pagination -->
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}


        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}

{% endblock content %}

{% block properties %}
    <div class="content-section">
    <div class="btn-toolbar" role="toolbar">
    <div class="btn-group mr-1" role="group">
        <a href="{% url 'chemical-create' %}" class="btn btn-info"><i class="fa fa-plus-circle"></i> Chemical </a>
    </div>
    <div class="btn-group mr-1" role="group">
        <a href="{% url 'storage-list' %}" class="btn btn-info"><i class="fa fa-edit"></i> Storage</a>
    </div>
    </div>

    </div>
    {% if chemical_detail %}
        <div class="card">
            <div class="card-header h4">{{ chemical_detail.name }}</div>
            <div class="card-body">

                    {% if chemical_detail.molar_mass %}
                        <div class="d-flex justify-content-between">
                            <b>Molare Mass</b>
                            <div>\( {{ chemical_detail.molar_mass }} ~ \mathrm{g}\cdot\mathrm{mol}^{-1}\)</div>
                        </div>
                    {% endif %}
                    {% if chemical_detail.melting_point %}
                        <div class="d-flex justify-content-between">
                            <b>Melting Point</b>
                            <div>\( {{ chemical_detail.melting_point }} ~ ^\circ \mathrm{C}\)</div>
                        </div>
                    {% endif %}
                    {% if chemical_detail.boiling_point %}
                        <div class="d-flex justify-content-between">
                            <b>Boiling Point</b>
                            <div>\({{ chemical_detail.boiling_point }} ~ ^\circ \mathrm{C}\)</div>
                        </div>
                    {% endif %}
                    {% if chemical_detail.density %}
                        <div class="d-flex justify-content-between">
                            <b>Density</b>
                            <div>\( {{ chemical_detail.density }} ~ \mathrm{g} \cdot \mathrm{cm}^{-3}\)</div>
                        </div>
                    {% endif %}
                <div class="text-center mt-3">
                    {% if chemical_detail.cid and not chemical_detail.image %}
                        <img src="https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid={{ chemical_detail.cid }}&width=250&height=250"
                             alt="IMG" class="img-thumbnail">
                    {% elif chemical_detail.image %}
                        <img src="{{ chemical_detail.image.url }}" alt="not found" class="img-thumbnail">
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}


{% endblock properties %}

{% block custom_js %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            var collapse_elements = $('.collapse');
            collapse_elements.each(function () {
                // Default close unless saved as open
                if (localStorage.getItem('open_' + this.id) === 'open') {
                    $(this).collapse('show');
                }
                <!-- Show everything, if only one chemical is visible -->
                if (collapse_elements.length === 2){
                    $(this).collapse('show');
                }
            });
        });
    </script>
    <script>
        var open_elements = []
        for (var i = 0; i < localStorage.length; i++){
            if (localStorage.key(i).substring(0,17) === 'open_collapseAll-') {
                open_elements.push(localStorage.key(i));
            }
        }
        function clear_local_storage() {
            for (var i = 0; i < open_elements.length; i++) {
                localStorage.removeItem(open_elements[i]);
            }
        }

        $('.expand-chemical').click(function () {
            if (localStorage.getItem('open_' + 'collapseAll-' + this.id) !== 'open'){
                clear_local_storage();
                localStorage.setItem('open_' + 'collapseAll-' + this.id, 'open');
            }else {
                clear_local_storage();
            }
        });
    </script>
{% endblock %}

{% block custom_head %}
    <script src="https://kit.fontawesome.com/6d7a14736a.js" crossorigin="anonymous"></script>
    <style>
        .btn-group-lg .btn, .btn-group-sm .btn {
            border-radius: 2px;
        }
    </style>
{% endblock %}