{% extends "chemmanager/chemmanager_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {% if object %}
                    <legend class="border-bottom mb-4">Edit {{ object }} ({{ object.chemical }}) </legend>
                {% else %}
                    <legend class="border-bottom mb-4">Add new Stock for {{ chemical }} </legend>
                {% endif %}

                {{ form|crispy }}
                {% if object %}
                    <button class="btn btn-outline-info" type="submit">Edit</button>
                {% else %}
                    <button class="btn btn-outline-info" type="submit">Add</button>
                {% endif %}

                <a href="{% url 'chemmanager-home' %}" class="btn btn-outline-danger">Cancel</a>
                {% if object %}
                    <a href="{% url 'stock-delete' object.id %}" class="btn btn-danger">Remove</a>
                {% endif %}
            </fieldset>
        </form>
    </div>
{% endblock content %}

{% block custom_js %}
            {{ form.media }}
    <style>
    .select2-container .select2-selection--single {
        height: 40px;
    }
    </style>
{% endblock %}