{% extends "chemmanager/chemmanager_base.html" %}

{% block content %}
    <div class="card">
    <div class="card-body">

    <table class="table table-responsive table-hover">
    <thead>
        <th style="vertical-align: middle">Expand</th>
        <th style="vertical-align: middle">Place</th>
        <th><a href="{% url 'storage-create' 0 %}" class="btn btn-sm btn-info">Add</a></th>
    </thead>
    {% for storage in object_list %}
        {% if storage.is_root %}
            <tbody>
            <tr>
                {% if storage.get_children_count > 0 %}
                    <td class="clickable" data-toggle="collapse" data-target="#expandStorage-{{ storage.id }}" aria-expanded="false" aria-controls="expandStorage-{{ storage.id }}" style="vertical-align: middle">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                <td style="vertical-align: middle">{{ storage }}</td>
                <td>
                    <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Edit</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="{% url 'storage-create' storage.id %}" class="dropdown-item">Add</a>
                        <a href="{% url 'storage-update' storage.id %}" class="dropdown-item">Edit</a>
                        <a href="{% url 'storage-delete' storage.id %}" class="dropdown-item">Remove</a>
                    </div>
                </td>
            </tr>
            </tbody>
            {% for storage_child_1 in storage.get_children %}
                <tbody class="collapse table-secondary" id="expandStorage-{{ storage.id }}">
                    {% if storage_child_1.get_children_count > 0 %}
                        <td class="clickable" data-toggle="collapse" data-target="#expandStorage-{{ storage_child_1.id }}" aria-expanded="false" aria-controls="expandStorage-{{ storage_child_1.id }}" style="vertical-align: middle">
                            &nbsp;&nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td style="vertical-align: middle">{{ storage_child_1 }}</td>
                    <td>
                        <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Edit</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a href="{% url 'storage-create' storage_child_1.id %}" class="dropdown-item">Add</a>
                            <a href="{% url 'storage-update' storage_child_1.id %}" class="dropdown-item">Edit</a>
                            <a href="{% url 'storage-delete' storage_child_1.id %}" class="dropdown-item">Remove</a>
                        </div>
                    </td>
                </tbody>
                {% for storage_child_2 in storage_child_1.get_children %}
                    <tbody class="collapse table-info" id="expandStorage-{{ storage_child_1.id }}">
                        <td></td>
                        <td style="vertical-align: middle">{{ storage_child_2 }}</td>
                        <td>
                            <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Edit</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a href="{% url 'storage-update' storage_child_2.id %}" class="dropdown-item">Edit</a>
                                <a href="{% url 'storage-delete' storage_child_2.id %}" class="dropdown-item">Remove</a>
                            </div>
                        </td>
                    </tbody>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </table>

    </div>
    </div>
{% endblock %}