{% extends "chemmanager/chemmanager_base.html" %}

{% block content %}
    <div class="form-group col-md-5">
        <ul id="myUL">
            {% for storage in object_list %}
                {% if storage.is_root %}
                    <li><input type="text" class="caret form-control mb-2" placeholder="{{ storage }}" readonly>

                        <ul class="nested">
                            {% for storage_child1 in storage.get_children %}
                                {% if storage_child1.get_children_count > 0 %}
                                    <li><input type="text" class="caret form-control mb-2"
                                               placeholder="{{ storage_child1 }}"
                                               readonly>
                                        <ul class="nested">
                                            {% for storage_child2 in storage_child1.get_children %}
                                                <li><input type="text" class="caret form-control mb-2"
                                                           placeholder="{{ storage_child2 }}" readonly></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block custom_head %}
    <style>
        /* Remove default bullets */
        ul, #myUL {
            list-style-type: none;
        }

        /* Remove margins and padding from the parent ul */
        #myUL {
            margin: 0;
            padding: 0;
        }

        /* Style the caret/arrow */
        .caret {
            cursor: pointer;
            user-select: none; /* Prevent text selection */
        }

        /* Create the caret/arrow with a unicode, and style it */
        .caret::before {
            content: "\25B6";
            color: black;
            display: none;
            margin-right: 6px;
        }

        /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
        .caret-down::before {
            display: none;
        }

        /* Hide the nested list */
        .nested {
            display: none;
        }

        /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
        .active {
            display: block;
            margin-right: -10px;
        }
    </style>
{% endblock %}

{% block custom_js %}
    <script>
        var toggler = document.getElementsByClassName("caret");
        var i;

        for (i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function () {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            });
        }
    </script>
{% endblock custom_js %}